.App1 {
    text-align: center;
    width: 25%;
    padding: 1%;
    margin-top: 5%;
    margin-left: 37%;
    box-sizing: content-box;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.App2 {
    text-align: center;
    width: 48%;
    padding: 1%;
    margin-top: 10%;
    margin-left: 26%;
    box-sizing: content-box;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

#forgot {
    margin-right: 22%;
    text-decoration: none;
    color: #1A237E;
}

#acunt {
    margin-right: none;
    text-decoration: none;
    color: #1A237E;
}

#registerLink {
    margin-right: none;
    text-decoration: none;
    color: #1A237E;
}

#homeLink {
    margin-right: none;
    text-decoration: none;
    color: #1A237E;
}

#appbar {
    background-color: white;
    box-shadow: 0 0;
    border-bottom: 1px solid lightgrey;
}

#PopperID {
    width: 250px;
    height: 250px;
}

#AcountTooltip {
    font-family: 'Bold';
    font-size: 15px;
    margin-bottom: 5px;
}

#settingsMenuItem {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 5px;
    width: 118px;
    font-size: 14px;
}

.settingsPopper {
    margin-top: 20px;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#card1 {
    height: 30px;
    width: 550px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 100px;
    border: 1px solid #dadce0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
}

#card2 {
    width: 550px;
    padding: 10px;
    margin: 0 auto;
    border: 10px;
    border-radius: 10px;
    margin-top: 70px;
    border: 1px solid #dadce0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
}

.cards {
    width: 240px;
    margin-top: 20px;
    padding: 7px;
    border-radius: 10px;
    margin: 20px 10px 10px 10px
}

.cards:hover {
    box-shadow: 0px 0.5px 0.5px 0.5px grey;
}

.cards:hover .noteicons {
    visibility: visible;
}

.noteicons {
    visibility: hidden;
}

.verticalCards {
    width: 550px;
    padding: 7px;
    margin: 50px auto 0 auto;
    /* margin-left:100px;
  margin-top: 50px; */
    border-radius: 10px;
}

.verticalCards:hover .noteicons {
    visibility: visible;
}

.verticalCards:hover .pinIcon {
    visibility: visible;
}

.dashBoard {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 310px;
    margin: 0 auto 0px 290px;
    max-width: 65%;
}

.gridCards {
    width: 822px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pinIcon {
    visibility: hidden;
}

.cards:hover .pinIcon {
    visibility: visible;
}

/* .noteSVG{
  
} */

/* .listCards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.createNoteInput {
    width: 500px;
}

/* .remindersMenuItem{
  height: 5px;
  width: 118px;
  font-size: 12px;
} */

.cardTools {
    width: 235px;
    display: flex;
    justify-content: space-between;
}

.createNoteTools {
    display: flex;
    justify-content: space-between;
}

.reminderPopper {
    width: 300px;
}

.userProfile {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 150px;
    flex-direction: row-reverse;
}

.appbarProfileDiv {
    margin-left: auto;
}

.userProfileIconWithDetails {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}

div .reminderIcon {
    padding-left: 15px;
}

.accountDetails {
    padding-top: 30px;
    padding-left: 14px;
}

.logoutButton {
    width: 65px;
    height: 19px;
    margin-top: 6px;
}

div .menuItemReminder {
    display: flex;
    justify-content: space-between;
}

.appBarIconsDiv {
    display: flex;
    line-height: 3;
}

.colorPalleteCard {
    position: absolute;
    max-width: 116px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
}

.pickDateTimePopper {
    padding: 10px;
}

.titleAndPin {
    display: flex;
    flex-direction: row;
}

.titleAndPin .pinIcon {
    visibility: visible;
}

.createNoteAndUpload {
    display: flex;
    flex-direction: row;
}

.afterSlide {
    margin-left: 50px;
    transition: 0.225s;
}

.beforeSlide {
    transition: 0.225s;
}

#appbarTitle {
    color: gray;
    margin-left: 30px;
    font-size: 25px;
    font-family: "TimesNewRoman";
}

#searchBarInput {
    margin-left: 1px;
    padding: 11px 16px 11px 16px;
}

#serachBar {
    display: flex;
    margin-left: 50px;
    border: 1px solid lightgrey;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#profileIconButton {
    margin-left: 30px;
}

#refreshButton {
    margin: 0px 10px 0px 5px
}

#searchBarIconButton {
    margin-left: 5px
}

@media only screen and (max-width:600px) {
    #appbarTitle {
        margin-left: 0px
    }
    #searchBarInput {
        display: none;
    }
    #serachBar {
        border: none;
    }
    .dashBoard {
        margin-left: 30px;
        max-width: 90%;
    }
    #card1 {
        height: 30px;
        width: 500px;
        padding: 10px;
        margin-left: 8px;
        border-radius: 10px;
        margin-top: 100px;
        border: 1px solid #dadce0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
    }
    #card2 {
        width: 500px;
        padding: 10px;
        margin-left: 8px;
        border: 10px;
        border-radius: 10px;
        margin-top: 70px;
        border: 1px solid #dadce0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
    }
    .verticalCards {
        width: 500px;
        padding: 7px;
        margin-left: 8px;
        margin-top: 50px;
        border-radius: 10px;
    }
}

/* @media (max-width:320px){
  #appbarTitle{
    display: none
  }
  #searchBarInput { 
    display: none; 
  }
  #serachBar{
    border: none;
    margin-left: 0px;
  }
  #searchBarIconButton{
    margin-left: 0px
  }
  .dashBoard{
    margin-left: 15px;
    /* max-width: 90%; */

/* }
  #refreshButton{
    margin: 0px
  }
  .cardsView{
    display: none
  }
  #profileIconButton{
    margin-left: 0px;
  }
  #card1 {
    height: 30px;
    width: auto;
    padding: 10px;
    margin-left:0px;
    border-radius: 10px;
    margin-top:100px; 
    border:1px solid #dadce0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.20);
  }
  #card2 { 
    width: auto;
    padding: 10px;
    margin-left:0px;
    border: 10px;
    border-radius: 10px;
    margin-top:70px;
    border:1px solid #dadce0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.20);
  }
  .verticalCards{
    width:  auto;
    padding: 7px;
    margin-left:8px;
    margin-top: 50px;
    border-radius: 10px;
  }
  .cards{
    width: auto;
    margin-top: 20px;
    padding: 7px;
    border-radius: 10px;
  }

} */

@media (min-width:320px) and (max-width:600px) {
    #appbar {
        width: auto;
        position: relative;
    }
    #appbarTitle {
        display: none
    }
    #searchBarInput {
        display: none;
    }
    .gridCards {
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #serachBar {
        border: none;
        margin-left: auto;
    }
    .appBarIconsDiv {
        display: flex;
        margin-left: auto;
    }
    #searchBarIconButton {
        margin-left: auto
    }
    .dashBoard {
        margin-left: 15px;
        /* max-width: 90%; */
    }
    #refreshButton {
        margin: 0px;
        margin-left: auto;
    }
    .cardsView {
        display: none
    }
    #profileIconButton {
        margin-left: auto;
    }
    .settingsIcon {
        margin-left: auto;
    }
    #card1 {
        height: 30px;
        width: auto;
        padding: 10px;
        margin-left: 0px;
        border-radius: 10px;
        margin-top: 55px;
        border: 1px solid #dadce0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
    }
    #card2 {
        width: auto;
        padding: 10px;
        margin-left: 0px;
        border: 10px;
        border-radius: 10px;
        margin-top: 25px;
        border: 1px solid #dadce0;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
    }
    .verticalCards {
        width: auto;
        padding: 7px;
        margin-left: 8px;
        margin-top: 50px;
        border-radius: 10px;
    }
    .cards {
        width: auto;
        margin-top: 20px;
        padding: 7px;
        border-radius: 10px;
    }
}